*{
	margin:0;
	padding:0;
}
.lesoon1{ 
	    
	    background: yellow;
	    height:10px;
	    margin-right: 10px;
	    
	   


	}

.lesoon2{
	    width: 50px;
	      height: 50px;
	     margin-left: 50px;
	       background: red;
	      
	      
}
